.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.messages {
    padding: 10px;
    color: black;
}


.dialogsItem .active {
    color: gold;
}

.dialogsItem img {
    width: 50px;
    border-radius: 30px;
    height: 50px;
    padding:initial;
}

.messages img{
    width: 50px;
    border-radius: 50px;
    height: 50px;

}
